# Conditional statements

In [27]:
#if else condition
#relational operators <, >, ==, !=, <=, >=
import numpy as np
a = 25
b = 25
if a>b:
    print('b = ', b) #indentation is important
elif a==b:
    print('a+b = ', a+b)
else:
    print('a =', a)

a+b =  50

In [28]:
# picking values from a uniform distribution
a = np.random.rand()
b = np.random.rand()
if a>b:
    print('b = ', b) #indentation is important
else:
    print('a =', a)

a = 0.49783776271585967

In [90]:
# picking values from a uniform distribution
a = np.random.rand()
b = np.random.rand()
c = 0.5
if a>b and a<c:
    print('b = ', b) #indentation is important
elif not a>c:
    print('c = ', c)
else:
    print('a =', a)

a = 0.9536421415840806

# Loops: For loop

In [98]:
#loops: for loop
r = range(10)
print(len(r))
print(r[4])

for i in r:
    print('Hello', i)

10
4
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

In [101]:
#for loop in list
thelist1 = ['apple','mango', 'bank'] 

for i in thelist1:
    print(i)

apple
mango
bank

In [103]:
# to access index and value in a list use "enumerate"

for ind, val in enumerate(thelist1):
    print(ind,'th entry is', val)

0 th entry is apple
1 th entry is mango
2 th entry is bank

In [107]:
# for loop in tuple
thetup1 = ('apple','mango', 'bank','apple')
for i in thetup1:
    print(i)
    
for ind, val in enumerate(thetup1):
    print(ind,'th entry is', val)

apple
mango
bank
apple
0 th entry is apple
1 th entry is mango
2 th entry is bank
3 th entry is apple

In [113]:
#for loop in set
set1 = {'apple','mango', 'bank','apple'}

for i in set1:
    print(i) #notice sequence changes
    
    
for ind, val in enumerate(set1):
    print(ind,'th entry is', val) #notice only three entries are shown

bank
apple
mango
0 th entry is bank
1 th entry is apple
2 th entry is mango

In [115]:
for ind in range(1,8,2):
    print(ind)

1
3
5
7

# print index and value

In [121]:
# printing index and value in the list
dlist = [1, 23, 43, 2, 54]
print('Using range and len')
for ind in range(len(dlist)):
    print(ind, dlist[ind])

print(' ')
print('Using enumerate')   
for ind,val in enumerate(dlist):
    print(ind, val)

Using range and len
0 1
1 23
2 43
3 2
4 54

Using enumerate
0 1
1 23
2 43
3 2
4 54

# Loops for dictionaries

In [131]:
dict1 = {'name':'Ahad', 'grade':'A'}
dict2 = {'name':['Ahad','Ajmal'] , 'grade':['A','B']}

print('Method 1')
for i in dict1:
    print(i)
    
print(' ')
print('Method 2: key')
for key in dict1.keys():
    print(key)
         
print(' ')
print('Method 3: value')
for val in dict1.values():
    print(val)

print(' ')
print('Method 4: keys and values')
for key, val in dict1.items():
    print(key, val)
    
print(' ')
print('Method 4: keys and values dict2')
for key, val in dict2.items():
    print(key, val)

Method 1
name
grade

Method 2: key
name
grade

Method 3: value
Ahad
A

Method 4: keys and values
name Ahad
grade A

Method 4: keys and values dict2
name ['Ahad', 'Ajmal']
grade ['A', 'B']

# While loop

In [142]:
i = 1
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [148]:
# password authentication
pwd = ''
i = 0
while pwd != 'pass':
    pwd = input('Enter the password: ')
    if pwd == 'pass':
        print('Access granted')
    elif i == 3:
        print('locked')
        break
    else:
        print('Wrong password')
    i = i+1

Enter the password: pp
Wrong password
Enter the password: pp
Wrong password
Enter the password: pp
Wrong password
Enter the password: pp
locked

# Functions

In [149]:
#def function_name(a,b): a and b are parameters, function calling: function_name(c,d), c and d are the arguments

dlist = [1, 23, 43, 2, 54]

def func1(i,j):
    print('hello',i,j)
    
for ind,val in enumerate(dlist):
    func1(ind,val)

hello 0 1
hello 1 23
hello 2 43
hello 3 2
hello 4 54

In [138]:
#function with return
def func1(i,j):
    print('hello',i,j)
    return i+j
    
for ind,val in enumerate(dlist):
    out = func1(ind,val)
    print("ind+val = ", out)

hello 0 1
ind+val =  1
hello 1 23
ind+val =  24
hello 2 43
ind+val =  45
hello 3 2
ind+val =  5
hello 4 54
ind+val =  58

In [150]:
# function with default parameters

def myfunc2(out='All'):
    print('Hello,',out)
    
myfunc2('Asad')
myfunc2()

Hello, Asad
Hello, All

In [154]:
#function to count words in a string
def words_count(string):
    words = string.split()
    return len(words)

#function call
sen = 'function to count words in a string'
w_cnt = words_count(sen)
print(w_cnt)

7