In [3]:
a = 5
b = 10
c = a+b
print(c)

15

In [5]:
# multiplication
d = a*b
print(d)
dd = a**2
print(dd)

50
25

In [7]:
import numpy as np

In [9]:
#check time
def some_expensive_comutation():
    return "-".join(str(n) for n in range(10000))

%timeit some_expensive_comutation()

1.7 ms ± 124 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
True != False

True

In [15]:
#strings
"Hello"+" " +"Work"

'Hello Work'

In [17]:
"Hello"[3]

'l'

In [19]:
# List
[1 ,2][0]

1

In [21]:
a = [1,2]
a[0]

1

In [24]:
#for loop
for item in a:
    print(item)

1
2

In [33]:
i = 2
for item in "Hello":
    i+=2
    v = [i,item]
    print(v)

[4, 'H']
[6, 'e']
[8, 'l']
[10, 'l']
[12, 'o']

In [44]:
# indexing in loop
l = ['a', 5, 6]
for index, item in enumerate(l): #enumerate return index and value
    print("l[" + str(index) + "]" + " = " + str(item))

l[0] = a
l[1] = 5
l[2] = 6

In [48]:
# if only index is needed
l = [4, 'b', 6]
for index in range(len(l)):
    print("index = " + str(index) + " "+ "value = " + str(l[index]))

index = 0 value = 4
index = 1 value = b
index = 2 value = 6

In [56]:
# range
r = range(1,10,2)
for val in r:
    print(val)

1
3
5
7
9

In [60]:
r = range(1,10,2)
print(r[0:2])

range(1, 5, 2)

In [54]:
# list is homogeneous, can contain numbers and strings
aa = ["a",2,["s"]]
print(aa)

['a', 2, ['s']]

In [55]:
l = [1, 2, 3, 4, 5]
start = 1
stop = 4
l[start:stop] # Start is included, but stop isn't

[2, 3, 4]

In [61]:
l[:stop]

[1, 2, 3, 4]

In [62]:
l[start:]

[2, 3, 4, 5]

In [63]:
step = 2
l[start:stop:step] # you can also specify a step size

[2, 4]

In [64]:
l[::-1] #reverse

[5, 4, 3, 2, 1]

In [65]:
l[-1] # last element in `l`

5

In [67]:
[1,2] + [3,8] + ["s"]

[1, 2, 3, 8, 's']

In [68]:
#other data types
{0, 1}         # sets: used for set theory, union, intersection, subset etc
{"key": "val"} # dictionaries
(1, 2, 3)      # tuples
None # supress output

In [69]:
"a" in {"a","b","c"}

True

In [70]:
"a" in ["a","b","c"]

True

In [75]:
{"a"} < {"a","b","c"}

True

In [76]:
aq = [1,2,3]
aq.append(5)
print(aq)

[1, 2, 3, 5]

In [79]:
aw = {1,2,3}
aw.add(5)
print(aw)

{1, 2, 3, 5}

In [88]:
for item in {1, 'z', 3, 'b'}:
    print(item)
# ordering isn't guaranteed
# use OrderedSet (http://orderedset.readthedocs.io/en/latest/) if you need ordering

1
b
3
z

In [89]:
#swapping with 3 variables
s1 = 2
s2 = 4
s3 = s1
s1 = s2
s2 = s3
print(s1, s2)

4 2

In [90]:
#swapping with 2 variables
s1 = 2
s2 = 4

s1,s2 = s2,s1

print(s1, s2)

4 2

In [92]:
# multiline string
ms = """With this example, one common bug that can occur is when you forget to update value at the beginning of 
each iteration. This is similar to the previous bug of forgetting to update the index. 
This is one reason that this loop isn’t considered Pythonic. """
print(ms)

With this example, one common bug that can occur is when you forget to update value at the beginning of
each iteration. This is similar to the previous bug of forgetting to update the index.
This is one reason that this loop isn’t considered Pythonic.

In [101]:
#remove removes any leading, and trailing whitespaces
s4 = " hello world"
len(s4) # 12
ws = s4.strip()
len(ws)#11

11

In [103]:
#change case
print(ws.upper())

HELLO WORLD

In [104]:
#replace string
s4 = " hello world"
print(s4.replace('h','y'))

 yello world

In [107]:
#split string
sp = "leading, and trailing whitespaces"
print(sp.split(' '))
print(sp.split('a'))

['leading,', 'and', 'trailing', 'whitespaces']
['le', 'ding, ', 'nd tr', 'iling whitesp', 'ces']

In [120]:
#list: each entry in the list is called an item. List can be of string, int and a mixture
# list is ordered, changeable and duplicate
thelist1 = ['apple','mango', 'bank'] 
print(thelist1)
thelist2 = ['apple',5, 'bank', True] 
print(thelist2)
print(thelist2[0])
print("length is = ", len(thelist2))
thelist2[0] = '1st' #changable
thelist2.append(20) #changable
print(thelist2)

['apple', 'mango', 'bank']
['apple', 5, 'bank', True]
apple
length is =  4
['1st', 5, 'bank', True, 20]

In [121]:
#tuple is ordered, but "unchangeable" or "immutable"
thetup1 = ('apple','mango', 'bank') 
print(thelist1)
thetup2 = ('apple',5, 'bank', True)
print(thetup2)
print(thetup2[0])
print("length is = ", len(thetup2))
#thetup2[0] = '1st' #this command will give an error, as tuple is immutable

print(thetup2)

['apple', 'mango', 'bank']
('apple', 5, 'bank', True)
apple
length is =  4
('apple', 5, 'bank', True)

In [122]:
#checking datatypes of the given data
print(type(thelist1))
print(type(thetup1))
print(type(("Hello")))
print(type(("Hello",)))

<class 'list'>
<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [133]:
#set is unordered, unchangeable. Set does not support duplication
set1 = {'apple','mango', 'bank'}
print(set1)
set2 = {'apple','mango', 'bank', 'mango'}
# print(set2[0]) # not possible as unordered
print("set2 = ",set2)
print("length of set1 = ",len(set1))
print("length of set2 = ",len(set2))
print(type(set1))

{'apple', 'bank', 'mango'}
set2 =  {'apple', 'bank', 'mango'}
length of set1 =  3
length of set2 =  3
<class 'set'>

In [144]:
#dictionary is ordered, changeable, but does not allow duplication
#are used to store data with tags -> key:value, 
dict1 = {'name':'Ahad', 'grade':'A', 'name':'Ajmal', 'grade':'B'}
print(dict1)
dict2 = {'name':['Ahad','Ajmal'] , 'grade':['A','B']}
print(dict2)
print(dict2['grade'])
dict2['name'].append('Saif') #appending data
print(dict2['name'])

{'name': 'Ajmal', 'grade': 'B'}
{'name': ['Ahad', 'Ajmal'], 'grade': ['A', 'B']}
['A', 'B']
['Ahad', 'Ajmal', 'Saif']